.dashboard-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  width: 50%;
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.user-section > h1 {
  color: #333;
  padding: 0.5rem 0;
  font-size: 2rem;
  font-style: italic;
  text-transform: capitalize;
}
.user-section > p {
  font-size: 1.5rem;
  color: #333;
  padding: 0.2rem 0;
}
.user-section > button {
  padding: 0.7rem 1rem;
  border: 0;
  border-radius: 0.3rem;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  margin: 1rem 0;
  cursor: pointer;
}
button > a {
  text-decoration: none;
  color: white;
}
.contact-section {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin-top: 2rem;
}
@media screen and (max-width: 770px) {
  .user-section {
    width: 80%;
  }
}
